{% extends "menu.html" %}
{% block title %}index title{%endblock title%}

{% block content %}





<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" data-target="#collapseOne">About Us</a></li>
      <li><a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" data-target="#collapseTwo">Our Board</a></li>
      <li><a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" data-target="#collapseThree">Partners</a></li>
      <li><a href="#collapseFour" data-parent="#accordion2" data-toggle="collapse" data-target="collapseFour">Suporters</a></li>
    </ul>
  </div>
</div>




<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        <h2>About us</h2>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">

	<div class="row">
	  <div class="offset1">

<h3>Our Story</h3>
<p>
In 1990, Mike Zamansky left his job as a software engineer for Goldman
Sachs and entered the teaching profession. A few years later, at New
York City's prestigious Stuyvesant High School, he noticed a lack of
opportunities for students to study computer science and related
field. This started a twenty year journey to try to share his passion
for computer science with youngsters and inspire them to go on to do
great things in technology realated fields. 
</p>
<p>
Over the years Mike was joined by master teachers like JonAlf
Dyrland-Weaver and Samual Konstantinovich. Together, at Stuyvesant
High School they have designed new courses, trained new teachers, run
after school and summer programs, and built a community of Stuyvesant
Computer Science Alumni that now permeates the Tech Industry.
</p>
<p>
Having dealt with the frustrations of working within the system to try
to bring more opportunities to more youngsters and inspired by their
alumni community, Mike, Sam, and JonAlf, have joined with Jennifer Hsu
and Artie Jordan along with other members of the Stuy CS Community to
form CSTUY, Computer Science and Technology for Urban Youth. An
organization dedicated to bringing computer science and technology
related educational opportunities to high school and middle school
students.
</p>

<h3>What makes us different</h3>
<h4>Real teachers</h4>
<p>
Computer Science as a field faces a real dillema. Due to lisencing
restrictions, there are very few teachers with strong computer science
backgrounds. The flip side is that teaching is an art and a difficult
one at that. The ability to teach at more than the most superficial
level takes years to develp.
</p>
<p>
Most existing programs are run by volunteers with limited teaching
experience or by teachers with limited tech knowledge.
</p>
<p>
CSTUY has the advantage of having master teachers with strong
technical backgroudns with a history of not only delivering
inspirational instruction but also of developing courses and course
squences that are time tested.
</p>

<h4A history of success</h4>
<p>
While CSTUY is new, it is a natural growth out of the work that Mike,
JonAlf, and Sam have been doing at Stuyvesant High School. While
Stuyvesant still does not have a recognized comptuer science program,
Mike, JonAlf, and Sam have inspired and graduated scores of future,
now current technologists. They have created classes and sequences of
classes, created internship and mentoring oppportunities and built a
community of what are now hundreds of technology professionals.
CSTUY will build and extend these programs.
</p>
<h4>Real education</h4>
<p>
The last year has seen a prolieferation of "learn to code" classes and
projects. Some have received a good amount of media attention. The
typical refrain is that they have students writing mobile apps in a
couple of weeks. While these programs expose the students new
technologies, the apps they create are nothing more than mockups using
tools that we see as akin to Powerpoint presentations.
</p>
<p>
At CSTUY, when developing a course or a program our first priority is
substance. What will the kids learn from a given program? How will
the students be able to use what we give them in the future? How have
we set them up so that they can take the next steps both with CSTUY
and on their own. 
</p>
	  </div>
	</div>



      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <h2>Our Board</h2>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">

	<div class="row">
	  <div class="span4 offset1">
	    <ul class="thumbnails">
	      {% for person in people %}
	      <li id="{{person.blurb}}" class="span2 person">
		<img style="height:150px" src="static/about/{{person.photo}}">
		<p>{{person.name}}</p>
	      </li>
	      {% endfor %}
	  </div>
	  
	  <div  class="span4 offset2">
	    <div class="spacer50"></div>
	    <div id="blurb">
	    </div>
	  </div>
	</div>
      </div>

      </div>
    </div>
  </div>
</div>



  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        <h2>Our Partners</h2>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">

	<div class="row">
	  <div class="offset1">
	    <ul>
	      <li><a href="http://digitalocean.com">Digital Ocean</a></li>
	      <li><a href="http://www.identinc.com">The Ident Group</a></li>

	    </ul>
	  </div>
	</div>

      </div>
    </div>
  </div>
</div>


</div>







<script>
$(document).ready(function() {

  $(".person").hover(function(e) {
    var file="static/about/"+this.id;
    $("#blurb").fadeOut(function() {
      $("#blurb").load(file,function() {$("#blurb").fadeIn()});
      });
   },function(e) {
          $("#blurb").fadeOut(function(){$("#blurb").empty();});
     });


});

</script>

{% endblock content%}
