<!DOCTYPE html>

<head>

{% block head %}


<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<link href="/static/css/cstuy.css" rel="stylesheet"></link>
<title>{% block title %} CSTUY  {% endblock %} </title>

{% endblock head %}


</head>
<body>
{%block menu %}
{%endblock menu%}
{%block content %}

{%endblock content%}




</body>
