{% extends "base.html" %}
{% block title %}index title{%endblock title%}

{%block menu%}
<div class="row">
<div class="span2">
<img width="100px" src="/static/img/Thluffy-left.png">
</div>
<div class="span9">
<h1 align=center>CSTUY</h1>
<h3 align=center>Computer Science and Technology for Urban Youth</h3>
</div>
<p>
</div>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav navbar-inner navbar-x">
      <li><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
    </ul>
  <ul class="nav pull-right">
    <li><a href="/about">About</a></li>
  </ul>
</div>
</div>
{% endblock menu %}
{% block content %}
{% endblock content%}
