{% extends "menu.html" %}
{% block title %}index title{%endblock title%}

{% block content %}

<div class="container-fluid">
<h3 class="title">In the coming months, CSTUY plans to roll out numerous programs including:</h1>



<div id="outline-container-1" class="outline-2">
<h2 id="sec-1"> Classes</h2>
<div class="outline-text-2" id="text-1">

<p>CSTUY plans on offering a range of after school classes to middle and
high school students. These will range form short form single session
classes to multi week classes and will be offered to both students new
to computer science as well as to those with experience. All courses
will be developed as a partnership between CSTUY, its teachers, and
industry professionals to insure that students develop new problem
solving skills as well as a practical set of tools.
</p>
<p>
We hope to offer our first classes in the coming months.
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2"> Internships</h2>
<div class="outline-text-2" id="text-2">

<p>Building on informal arrangements that have existed for years between
CSTUY's board members and the Tech Industry, CSTUY is developing a
structured internship program for students. This will entail placing
student intern at local tech companies as well as providing structure
for the internships that will include group activities, lectures, and
workshops. 
</p>
<p>
We hope to offer our first internships early this spring.
</p>
</div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3"> Lectures</h2>
<div class="outline-text-2" id="text-3">


<p>
By extending current informal relationships, CSTUY will host regular
lectures on technology related topics and make these lectures
available to high school and middle school students.
</p>
</div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4"> Summer Programs</h2>
<div class="outline-text-2" id="text-4">

<p>Summer programs will allow us to work with students and teachers over
an extended period of time. Plans include:
</p><ul>
<li>A month long introduction to computer science
</li>
<li>CS / Tech industry boot camp from existing programmers
</li>
<li>CS Bootcamp / Internship combo
</li>
</ul>


</div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5"> Teacher Training</h2>
<div class="outline-text-2" id="text-5">

<p>One of the biggest needs facing CS Education today is the lack of
qualified teachers. CSTUY members have had numerous successes in
training computer science teachers and building computer science
programs and classes.
</p>
<p>
CSTUY is planning to offer numerous professional development
opportunities to educators ranging from individual lectures to
opportunities for new teachers to intern at our programs 
</p>
<p>
CSTUY will also work with schools and teachers to develop computer
science programs appropriate for their student populations.
</p>


</div>

</div>

<div id="outline-container-6" class="outline-2">
<h2 id="sec-6"> More to come</h2>
<div class="outline-text-2" id="text-6">

<p>CSTUY also plans on offering mentoring, online content, curriculum and
more. Make sure to join our mailing list and stay tuned.
</p></div>
</div>
</div>

</div>

{% endblock content%}
